!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "SimpleBanking"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    = stylesheet_link_tag "application", :media => "all"
    / For third-generation iPad with high-resolution Retina display:
    / Size should be 144 x 144 pixels
    -#= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    / For iPhone with high-resolution Retina display:
    / Size should be 114 x 114 pixels
    -#= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    / For first- and second-generation iPad:
    / Size should be 72 x 72 pixels
    -#= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    / For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    / Size should be 57 x 57 pixels
    -#= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    / For all other devices
    / Size should be 32 x 32 pixels
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => home_index_path} SimpleBanking
          .container-fluid.nav-collapse
            %p.navbar-text.pull-right
              - if current_user
                Logged in as
                = link_to current_user.name, current_user
                &nbsp;|&nbsp;
                = link_to "Logout", log_out_path
              - else
                = link_to "Login", log_in_path

            %ul.nav
              %li
                = link_to users_path, class: '' do
                  %i.icon-user
                  All Users
              %li
                - if current_user
                  = link_to 'Your Account', current_user
                - else
                  = link_to 'Your Account', log_in_path
              %li

              %li
                - if current_user
                  = link_to new_user_transfer_path(current_user), :class => '' do
                    %i.icon-money
                    Transfer money
                - else
                  = link_to 'Transfer money', log_in_path

              - if controller.action_name == 'demo'
                %li
                  .container
                    = link_to "Start", home_index_path, class: 'btn-start btn btn-primary'
              - unless controller.action_name == 'demo'
                %li
                  .container
                    = link_to "DEMO", home_demo_path, class: 'btn-demo btn btn-warning'
    .container-fluid
      .row-fluid
        .span12
          = bootstrap_flash
          = yield
    / /container
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
